:root{
  --tl: calc(960px - 100%); /* transition length */
}

.container-outer {
  max-width: 100vw;
  /* update the width of the display contaier as per your requirement */
}
.container-width {
  width: 3000px;
  /* Total width of the whole iframe, based on the number of tickers displaying */
  animation: marquee 25s linear infinite;
}
.container-width:hover {
  animation-play-state: paused
}

.container-outer {
  margin: 0 auto;
  position: relative;
  border: 1px solid #ccc;
  height: 70px;
  overflow: hidden;
  white-space: nowrap;
}
.container-inner {
  /*
  overflow-x: auto;
  overflow-y: hidden;
  */
  height: 100px;
  margin-top: -1px;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(var(--tl), 0); }
}